#sec1{
  text-align: center;
   padding: 50px;
	background-color:  grey  ; 
	
	
}
#sec2{
	text-align: center;
	table-layout: center;
	padding: 50px;
	background-color: skyblue   ;
     
}

#sec6{

	background-color: brown   ;
     
}
#sec7{
	text-align: center;
	padding: 50px;
	background-color: skyblue  ;
	text-decoration-color: white;

}
