
*{ margin= 0; padding: 0; box-sizing: border-box; font-family: 'Mulish',
 sans-serif; }

.nav_style{
	background-color: #a29bfe!important;
}
.nav_style a{
	color: white;
}

/*********main header*********/
.main_header{
	height: 450px;
	width: 100%;
}
.rightside h1{
	font-size: 3rem;
}
.corona_rot img{
	animation: gocorona 3s linear infinite;
}
@keyframes gocorona{
	0% {transform: rotate(0);}
	100% {transform: rotate(360deg);}
}
.leftside img{
	animation: heartbeat 5s linear infinite;
}
@keyframes heartbeat{
	0%
	{
		transform: scale(.75);
	}
	20%
	{
		transform: scale(1);
	}
	40%
	{
		transform: scale(.75);
	}
	60%
	{
		transform: scale(1);
	}
	80%
	{
		transform: scale(.75);
	}
	100%
	{
		transform: scale(.75);
	}
}

          /**********corona update**********/

.Corona_update{
	margin: 0 0 30px 0;   /*upper left bottom right*/
}

.Corona_update h3{
	color: #ff7675;
}

.Corona_update h1{
	font-size: 2rem;
	text-align: center;
}

/********About section********/
.sub_section{
	background-color: #fbfafd;
}

.footer-style{
	background-color: #a29bfe !important;
}

.footer-style p{
	margin-bottom: 0!important;
}

#myBtn{
	display: none;    /*hidden by default*/
	position: fixed;   /*fixed/sticky position*/
	bottom: 30px;     /*place the button at the bottom of the page*/
	right: 40px;     /*place the button 40px from the right*/
	z-index: 99;     /*make sure it doesnt overlap, always remain in top*/
	border: none;    /*remove border*/
	outline: none;   /*outline remove*/
	background-color: #00A8FF;    /*set a background clr*/
	color: white;    /*text color*/
	cursor: pointer;    /*add a mouse pointer on hover*/
	padding: 10px;     /*some padding (upper,bottom,right,left)*/
	border-radius: 10px;    /*round corner*/

}

#myBtn:hover {
	background: #606060;


}









